In [14]:
import pandas as pd
import requests
import json

# Import the API key
from config import api_key

In [15]:
cost_of_liv = pd.read_csv("output_cost_of_living", encoding = "utf-8")

In [16]:
cost_of_liv

,city,Expenses_outside_CC,Avg. Monthly Salary,Expense/Income,Exp_Category
0,New York,5388.32,5944.31,0.91,Most_Exp
1,Los Angeles,4604.57,5456.15,0.84,Most_Exp
2,Chicago,3373.38,4819.49,0.70,More_Exp
3,Miami,4116.00,4195.86,0.98,Most_Exp
4,Dallas,3352.01,5459.79,0.61,More_Exp
...,...,...,...,...,...
308,Doylestown,3368.22,7500.00,0.45,More_Exp
309,New Port Richey,2644.58,7680.00,0.34,Less_Exp
310,Gig Harbor,3382.31,4500.00,0.75,More_Exp
311,Warrenton,3394.78,2400.00,1.41,More_Exp
312,Brownville,1924.00,2024.00,0.95,Least_Exp

In [33]:
    city_name = "Bayonne"
    target_url = f"https://api.openweathermap.org/geo/1.0/direct?q={city_name},US&limit=5&appid={api_key}"
    city_data = requests.get(target_url).json()
    print (target_url)
    state = city_data[0]["state"]
    print(state)

https://api.openweathermap.org/geo/1.0/direct?q=Bayonne,US&limit=5&appid=9db0d6142b15e01938ab124eba6ca688
New Jersey

In [34]:
for index, row in cost_of_liv.iterrows():
    city_name = cost_of_liv.loc[index, "city"]
    target_url = f"https://api.openweathermap.org/geo/1.0/direct?q={city_name},US&limit=5&appid={api_key}"
    city_data = requests.get(target_url).json()
    
    try:
        print("start state")
        cost_of_liv.loc[index, "state"]  = city_data[0]["state"]
    except(KeyError, IndexError):
        # If no city is found, set the state to no state found".
        cost_of_liv.loc[index, "state"] = "No state found"

print("done looping")

start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
start state
done looping

In [30]:
#print(cost_US_renamed_df)
cost_of_liv.head(50)

,city,Expenses_outside_CC,Avg. Monthly Salary,Expense/Income,Exp_Category,state
0,New York,5388.32,5944.31,0.91,Most_Exp,New York
1,Los Angeles,4604.57,5456.15,0.84,Most_Exp,California
2,Chicago,3373.38,4819.49,0.70,More_Exp,Illinois
3,Miami,4116.00,4195.86,0.98,Most_Exp,Florida
4,Dallas,3352.01,5459.79,0.61,More_Exp,Texas
5,Philadelphia,3084.83,4897.71,0.63,Exp,Pennsylvania
6,Houston,2739.97,5063.25,0.54,Exp,Texas
7,Atlanta,3118.00,4878.17,0.64,More_Exp,Georgia
8,Washington,4103.33,5907.32,0.69,Most_Exp,District of Columbia
9,Boston,4315.37,5342.19,0.81,Most_Exp,Massachusetts
10,Phoenix,3194.19,5090.45,0.63,More_Exp,Arizona
11,Seattle,4161.89,6292.34,0.66,Most_Exp,Washington
12,Detroit,2691.41,3926.67,0.69,Less_Exp,Michigan
13,San Diego,4603.13,5924.47,0.78,Most_Exp,California
14,Minneapolis,3126.78,4963.79,0.63,More_Exp,Minnesota
15,Tampa,3346.00,5289.14,0.63,More_Exp,Florida
16,Denver,3522.09,5565.78,0.63,More_Exp,Colorado
17,Brooklyn,3823.29,4950.19,0.77,Most_Exp,New York
18,Queens,3500.77,5000.00,0.70,More_Exp,New York
19,Baltimore,3237.69,5188.03,0.62,More_Exp,Maryland
20,Riverside,3670.74,3266.67,1.12,Most_Exp,California
21,Las Vegas,2952.63,3817.48,0.77,Exp,Nevada
22,Portland,3517.20,4599.72,0.76,More_Exp,Oregon
23,Sacramento,3695.78,4703.11,0.79,Most_Exp,California
24,Orlando,3078.27,5192.09,0.59,Exp,Florida
25,Cleveland,2646.81,4435.33,0.60,Less_Exp,Ohio
26,San Jose,4832.25,6808.52,0.71,Most_Exp,California
27,Pittsburgh,2739.39,4143.72,0.66,Exp,Pennsylvania
28,Austin,3372.08,5494.29,0.61,More_Exp,Texas
29,Cincinnati,2303.42,3621.99,0.64,Less_Exp,Ohio
30,Indianapolis,2507.26,4562.61,0.55,Less_Exp,Indiana
31,Columbus,2601.63,4403.89,0.59,Less_Exp,Ohio
32,Charlotte,3122.41,5101.48,0.61,More_Exp,North Carolina
33,Virginia Beach,2844.58,4178.00,0.68,Exp,Virginia
34,Bronx,3512.86,2000.00,1.76,More_Exp,New York
35,Milwaukee,2306.68,5043.75,0.46,Less_Exp,Wisconsin
36,Providence,2604.85,4266.67,0.61,Less_Exp,Rhode Island
37,Jacksonville,2659.19,4580.33,0.58,Less_Exp,Florida
38,Salt Lake City,2948.99,4396.98,0.67,Exp,Utah
39,Nashville,3590.73,4812.25,0.75,More_Exp,Tennessee
40,Richmond,2616.29,5760.89,0.45,Less_Exp,Virginia
41,Memphis,2400.25,4647.22,0.52,Less_Exp,Tennessee
42,Raleigh,3357.42,4947.71,0.68,More_Exp,North Carolina
43,Louisville,2250.58,4226.39,0.53,Less_Exp,Kentucky
44,New Orleans,3068.01,3405.25,0.90,Exp,Louisiana
45,Oklahoma City,2123.75,3167.94,0.67,Least_Exp,Oklahoma
46,Buffalo,2340.15,4264.26,0.55,Less_Exp,New York
47,Bridgeport,3510.21,2890.00,1.21,More_Exp,Connecticut
48,Hartford,3371.14,5133.33,0.66,More_Exp,Connecticut
49,Fort Worth,2945.21,4479.50,0.66,Exp,Texas

In [32]:
cost_of_liv.to_csv("output_cost_of_living_states", index = False, header = True)